:root {
    --row-height: 30px;
}

body {
    margin: 0;
    background: #222222;
    height: 100vh;
    align-content: center;
    user-select: none;
}

input {
    accent-color: #222222;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

input:disabled {
    color: #222222;
}

:modal {
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
}

#review-system-name-header {
    color:#F9F6EE;
    align-self: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0;
}

a {
    color: #F9F6EE;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

a:hover {
    color: aqua;
}

.links-div {
    display: flex;
    justify-content: space-evenly;
}

#timer-area {
    margin: 0;
    height: 90vh;
    display: flex;
}

#button-area {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    color:#222222;
}

.panel {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    gap: 10px;
}

#settings > div > input {
    field-sizing: content;
    font-family: inherit;
}

#settings h2 {
    margin: 0;
}

::placeholder {
    opacity: 1;
    color: #222222;
}

#timer-options div {
    text-align: left;
    font-size: 20px;
}

#timer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    color: #F9F6EE;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

#timer-proper {
    margin: auto;
}

.timer {
    font-family: monospace;
    margin: 0;
}

#timer {
    font-size: 100px;
}

#timer-secondary {
    font-size: 70px;
    display: none;
    text-align: center;
}

#reset-area {
    display: none;
    margin-bottom: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.suphour {
    display: none;
}

#accuracy-input-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accuracy-input {
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#222222;
    border: 0;
    field-sizing: content;
    max-height: min-content;
    font-size: 50px;
    color:#F9F6EE;
}

#notes-input {
    background-color:#222222;
    color:#F9F6EE;
    font-family: inherit;
    field-sizing: content;
    border: 1;
}

#notes-input::placeholder {
    color:#F9F6EE;
    font-family: inherit;
}

.out-of-n {
    font-size: 50px;
    font-family: inherit;
    height: auto;
    margin: 0;
}

.past-attempt-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 10%;
    padding: 0 10px;
    border-radius: 20px;
    color:#222222;
    align-items: center;
}

#past-attempts {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin-top: auto;
    overflow-y: auto;
    max-height: 43vh;
}

.icons-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.spreadsheet-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
    overflow-y: auto;
}

table {
    grid-template-rows: repeat(10, var(--row-height));
    padding: 0 var(--row-height);
    margin: 0 30;
    border-spacing: 0;
}

tr {
    display: flex;
}

td {
   height: var(--row-height);
   width: 100px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   background: #6488EA;
   text-align: center;
   vertical-align: middle;
   line-height: var(--row-height);
   border-radius: 5px;
   color:#222222;

   max-width: 100%;
   white-space: nowrap;
}

th {
    background: grey;
    height: var(--row-height);
    width: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-align: center;
    vertical-align: middle;
    line-height: var(--row-height);
    border-radius: 5px;
}

td input {
    border:#6488EA;
    border-radius: 5px;
    background: #6488EA;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 95%;
    height: 95%;
    text-align: center;
    margin: 0 5% 5% 0;
    color:#222222;
}

.first-row {
    color:#222222;
}

.special-row td {
    background: #64cbea;
}

.button {
    padding: 5px 10px;
    height: 50px;
    border: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    border-radius: 20px;
}

button:hover {
    filter: brightness(85%);
}

.load-button {
    height: 20px;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
}

#load-div table {
    padding: 0;
}

#load-div tr {
    justify-content: center;
}

#save-div {
    display: none;
}

#save-div input {
    font-family: inherit;
    border-radius: 5px;
}

#saved-review-systems {
    display: none;
}

#add-split {
    display: none;
}

#delete-split {
    display: none;
}

dialog {
    background:#6488EA;
    border-radius: 20px;
    border: 0;
}

#edit-dialog {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#accuracy-edit-div {
    display: flex;
}

#dialog-header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#edit-dialog-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#edit-dialog p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dialog-button {
    background-color:#4E6AB6;
    border: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 3px 5px;
}

.dialog-button-div {
    justify-content: space-around;
}

#goalInputForm {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#goalButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.goalInputRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    gap: 20px;
    align-items: center;
}

.goalInputRow h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.goalInput {
    float: left;
    field-sizing: content;
    max-height: min-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#4E6AB6;
    font-size: 20px;
}

.green {
    background: #66cc91;
}

.red {
    background: #f47174;
}

.grey {
    background: grey;
}

.black-border {
    border:#222222 2px solid;
}

#debug-border {
    border:#6488EA 5px solid;
}
